<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>My First Angular App</title>
  </head>
  <body ng-controller = "mainCtrl">
    <h1>Hello Worlds!!!!</h1>
    <h1>{{test}}</h1>



    <p>Guest List</p>

    <ul>
      <li ng-repeat="guest in guests"> {{guest.name}} </li>

    </ul>

      <input ng-model ="newGuest" />
      <input ng-model ="newColor" />
      <button ng-click="addGuest()">Add Guest</button>
















    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
    <script src= "./app.js"></script>
    <script src= "./mainController.js"></script>
  </body>
</html>
